body{
	overflow-x: hidden;
	background-color: #285943 !important;
}


h1{
	font-family: "Archivo Black", sans-serif;
	font-size:3em;
	color: #ffffff;
	letter-spacing: normal;
	font-weight: bold;
	height: 1.5em;
	text-align: left;
	margin-left: 50px;
	padding-top: -50px;
	padding-bottom: 20px;
}

h2{
	font-size: 28px;
}

.header{
	padding: 15px;
	background: transparent;
	top: 0;
	margin: 1em;
	width: 100%;
	position: sticky;
}
#undertext{
	font-size:0.8em;
} 

img {
    max-width: 200%;
    max-height: 200%;
    display: block;
    margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 1em;
}

.main {
    max-width: 90%;
    max-height: 30%;
    display: block;
    margin: 0 auto;
	padding: 5em;
	margin-bottom: 2em;
	margin-top:2em;
}

.picture-container{
	align-items: center;
}
.pictures{
	float: left;
	width: 30%;
	text-align: center;
	margin-top: -8em;
}

.text{
	color: #f2f2f2;
	font-size: 1.3em;
	display:block;
	position:relative;
	top:-5em;
	font-family: "Archivo Black", sans-serif;
}
h3{
	font-family: "Archivo Black", sans-serif;
	font-size:0.7em;
	text-align:center;
}


p, li{
	font-size:0.6em;
	margin-left: 2em;
	font-family: "Archivo Black", sans-serif;
}