body{
	overflow-x: hidden;
	background-color: #758799;
}


h1{
	font-family: "Archivo Black", sans-serif;
	font-size:2em;
	color: #ffffff;
	letter-spacing: normal;
	font-weight: bold;
	height: 1.5em;
	text-align: left;
	margin-left: 50px;
	padding-top: -50px;
	padding-bottom: 50px;
}

.logo{
	background: transparent;
	float:left;
	max-width: 75%;
}

h2{
	font-size: 28px;
}

.sidenav{
	padding: 15px;
	background: transparent;
	margin: 1em;
	height: 100%;
	width: 160px;
	position: fixed;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;
	background-color: #285943;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #000;
}

img {
    max-width: 200%;
    max-height: 200%;
    display: block;
    margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 1em;
}

.main {
    max-width: 90%;
    max-height: 30%;
    display: block;
    margin: 0 auto;
	padding: 5em;
	margin-bottom: 2em;
	margin-top:2em;
	margin-left: 160px;
}

.picture-container{
	align-items: center;
}
.pictures{
	float: left;
	width: 30%;
	text-align: center;
	margin-top: -8em;
}

.text{
	color: #f2f2f2;
	font-size: 1.3em;
	display:block;
	position:relative;
	top:-5em;
	font-family: "Archivo Black", sans-serif;
}
h3{
	font-family: "Archivo Black", sans-serif;
	font-size:0.7em;
	text-align:center;
}


p, li{
	font-size:0.6em;
	margin-left: 2em;
	font-family: "Archivo Black", sans-serif;
}